.shepherd-element.shepherd-theme-arrows.shepherd-transparent-text .shepherd-text {
  color: #3b744f; }
.shepherd-element.shepherd-theme-arrows .shepherd-content {
  max-width: 100%; }
.shepherd-element.shepherd-theme-arrows .shepherd-content a {
  color: inherit; }
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background: #55a892; }
