<pre class="  language-coffeescript"><code class="  language-coffeescript">tour<span class="token attr-name"> </span><span class="token operator">=</span><span class="token attr-name"> </span><span class="token keyword">new</span><span class="token attr-name"> </span><span class="token class-name">Shepherd.Tour</span>
  <span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name">defaults:</span>
  <span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name">classes:</span><span class="token attr-name"> </span><span class="token string">'shepherd-theme-arrows'</span>
  <span class="token comment" spellcheck="true"></span>
  tour<span class="token punctuation">.</span>addStep<span class="token attr-name"> </span><span class="token string">'example'</span><span class="token punctuation">,</span>
  <span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name">title:</span><span class="token attr-name"> </span><span class="token string">'Example Shepherd'</span>
  <span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name">text:</span><span class="token attr-name"> </span><span class="token string">'Creating a Shepherd is easy too! Just create ...'</span>
  <span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name">attachTo:</span><span class="token attr-name"> </span><span class="token string">'.hero-example bottom'</span>
  <span class="token attr-name"> </span><span class="token attr-name"> </span><span class="token attr-name">advanceOn:</span><span class="token attr-name"> </span><span class="token string">'.docs-link click'</span>
  <span class="token comment" spellcheck="true"></span>
  tour<span class="token punctuation">.</span>start()</code></pre>