<h2 id="title">Welcome to Ember.js dssd</h2>

{{outlet}}

{{#onboard-outlet}}
  {{#onboard-sticky}}
    {{#onboard-list}}
      <button class="sticky-intercom">
        Message
      </button>
    {{/onboard-list}}
  {{/onboard-sticky}}
{{/onboard-outlet}}
