<div class="hero-scroll">
  <div class="hero-outer">
    <div class="hero-inner">
      <div class="hero-welcome tour-step-welcome">
        <h1>Shepherd</h1>
        <h2>Guide your users through a tour of your app.</h2>
      </div>
      <div class="hero-including tour-step-including">
        <h3>Including</h3>

        {{partial 'code1'}}

      </div>
      <div class="hero-example tour-step-example">
        <h3>Example</h3>
        {{partial 'code2'}}

      </div>
      <div class="hero-followup">
        <p>
          <a class="button" href="http://github.com/HubSpot/shepherd">★ on Github</a> &nbsp;&nbsp;
          <a class="button" href="http://github.hubspot.com/shepherd">View Docs</a> &nbsp;&nbsp;
          <a class="button dark" href="http://github.com/HubSpot/shepherd">↓ Install</a>
        </p>
      </div>
      <div>

        {{partial 'svg-image'}}

      </div>
    </div>
  </div>
</div>

{{#onboard-outlet}}
  {{#onboard-sticky}}
    {{#onboard-list}}
      <button class="sticky-message">
        Message
      </button>
    {{/onboard-list}}
  {{/onboard-sticky}}
{{/onboard-outlet}}
